// presentacion trabajos
.presentacion-trabajos {
    height: 100vh;
    background-image: url(../img/fondo-trabajos.jpg);
    background-size: cover;
    background-position: center;
    @include flex-center;

    div {
        background-color: $sombra1;
        height: auto;
        width: 70%;
        max-width: 500px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h2 {
            color: white;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 1px;
            font-size: 30px;
            line-height: 40px;
            margin: 40px 15px 20px;
        }

        p {
            color: white;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            line-height: 25px;
            margin: 0 15px 40px;
        }
    }
}

.subtitulo-trabajos {
    text-align: center;
    background-color: $color1;
    padding: 15px 0;
    margin-bottom: 40px;
}

// tipos de trabajos
.tipos-de-trabajos {
    @include flex-center;
    flex-direction: column;
}

.tipos-de-trabajos div{
    background: $color4 linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    width: 80%;
    max-width: 500px;
    height: 75px;
    line-height: 75px;
    margin-bottom: 40px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.tipos-de-trabajos div h3 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    pointer-events: none;
}
